<div class="g-modal" id="target1" aria-hidden="true" role="dialog">
  <div class="g-modal__overlay">
    <div class="g-modal__layout">
      <button class="js-modal-close close-btn">
        <img src="/assets/images/close.svg" alt="" />
      </button>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae architecto inventore deleniti animi quibusdam maiores
      aut, debitis eos deserunt, rerum similique sunt saepe incidunt, distinctio asperiores dignissimos tenetur optio. Voluptates
      recusandae suscipit, alias id est exercitationem necessitatibus atque accusamus laudantium molestiae quibusdam praesentium
      rerum ipsam repellat amet rem nemo laboriosam.
    </div>
  </div>
</div>
