html
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  overflow-x: hidden
  box-sizing: border-box

*,*::before,*::after
  box-sizing: inherit

html, body
  height: 100%

body
  font-size: 14px
  margin: 0
  background: var(--bgColor)
  font-family: var(--mainFont)
  +mq-up(768)
    font-size: 16px

input, textarea
  border: none
  outline: none

button
  cursor: pointer

table
  border-collapse: collapse
  border-spacing: 0

b,strong
  font-weight: 700

a
  text-decoration: none

img
  max-width: 100%
  height: auto

video,
iframe
  max-width: 100%

*::-webkit-input-placeholder
  color: var(--accentColor)
  opacity: 1

::-moz-placeholder
  color: var(--accentColor)
  opacity: 1

::selection
  background-color: var(--accentColor)
  color: #fff

.hidden
  display: none
